:root {
    --neo-grotesque-font-stack: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;

    ---text-color-default: hsla(0, 0%, 0%, 0.87);
}

/* ------------------ Typography ------------------- */
html,
body {
    font-family: var(--neo-grotesque-font-stack);
    font-size: 100%;
    line-height: 1.5rem;
    color: var(---text-color-default);
}

p,
span {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5rem;
    max-width: 75ch;

    @media (max-width: 45ch) {
        line-height: 1.2rem;
    }

    margin-top: 0rem;
    margin-bottom: 0rem;
}

h1 {
    font-weight: bold;
    font-size: 2.375rem;
    line-height: 3rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

h3 {
    font-weight: bold;
    font-size: 1.3125rem;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

h4 {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
}

small,
.small-text {
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}