.center {
    text-align: center;
}

.margin-top-M {
    margin-top: 1rem;
}

.margin-bottom-M {
    margin-bottom: 1rem;
}

.margin-top-L {
    margin-top: 2rem;
}

.margin-bottom-L {
    margin-bottom: 2rem;
}